---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio">
  <main class="flex bg-neutral-900 h-screen text-white">
    <div class="mx-auto h-full bg-neutral-800">
      <div class="">
        <h1 class="text-3xl font-bold">About</h1>
        <p>Full-stack web developer specializing in NextJS and Astro.</p>
      </div>
      <div class="">
        <h1 class="text-3xl font-bold">Projects</h1>
        <p></p>
      </div>
    </div>
  </main>
</Layout>

<style></style>
